:root {
    --lghtwhiteclr-color: #e2e5e5;
    --cardwhiteclr-color: #ffffff;
    --txtlightblackclr-color: #000000fc;
}

.main-three-containers::-webkit-scrollbar {
    height: 4px;
}

.main-three-containers::-webkit-scrollbar-track {
    background: transparent;
}

.main-three-containers::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 20px;
}

body {
    background-color: var(--lghtwhiteclr-color);
}

main {
    width: 97.5vw;
    margin: auto;
}

.main-one-adv {
    width: 100%;
    height: 45vw;
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 0vw 1vw 0vw;
    animation: bgimg 40s steps(1) infinite;
    /* padding-top: calc(44vw - 26vw); */
    align-items: end;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 0 0 6px 6px;
}

.main-one-adv .main-two-cards {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.289);
}

.main-one-adv .main-two-cards .txtintheinnercard {
    color: black;
    font-size: 0.9vw;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0 0.8vw;
    width: 85%;
}

.main-cards-in-adv {
    background-color: white;
    height: 24.6vw;
    width: 22.5vw;
    margin: 0 0.2vw;
    box-shadow: 0.1px 0.1px 8px rgba(0, 0, 0, 0.434);
    padding: 5px 0 5px 0;
    overflow: hidden;
    display: grid;
    justify-content: center;
    margin: 0 1vw;
}

.cards-main-txt {
    width: 100%;
    height: 2.5vw;
    font-family: 'Kanit', sans-serif;
    font-size: 1.41vw;
    font-weight: 550;
    padding: 0 20px;
    overflow: hidden;
}

.flexbox-of-cardincards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.card-in-cards {
    width: 10.5vw;
    height: 10.5vw;
    margin: 1px;
    overflow: hidden;
}

.img-card-in-cards {
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    height: 60%;
}

.txt-card-in-cards {
    width: 100%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 0.9vw;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.deal {
    color: red;
    font-weight: 600;
}

.red-bg-deal {
    background-color: #cc0c39;
    height: 75%;
    width: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    font-size: 0.75vw;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-cards-in-adv-twocards {
    /* background-color: white; */
    height: 25.2vw;
    width: 22.5vw;
    overflow: hidden;
    margin: 0 1vw;
}

.topcard {
    width: 24.6vw;
    height: 9vw;
    background-color: white;
    box-shadow: 0.1px 0.1px 8px rgba(0, 0, 0, 0.434);
    display: flex;
    overflow: hidden;
}

.topcard .texts .textone {
    width: 12vw;
    height: 28%;
    font-size: 1.7vw;
    padding: 1vw 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.topcard .texts .texttwo {
    color: blue;
    height: 40%;
    padding: 1vw 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
}

.topcard img {
    margin-top: 10px;
    height: 85%;
}

.bottomcard {
    margin-top: 1.5vw;
    width: 24.6vw;
    height: 14.7vw;
    background-color: white;
    box-shadow: 0.1px 0.1px 8px rgba(0, 0, 0, 0.434);
}

.bottomcard img {
    width: 10vw;
    padding-left: 5.5vw;
}

.bottomcard .details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    height: 1.9vw;
    overflow: hidden;
    width: 20vw;
    margin: 0 10px;
}

.bottomcard .price {
    color: red;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 20vw;
    margin: 0.6vw 1vw;
}

.main-one-upto650 {
    display: none;
}

.main-two {
    margin-top: 1.2vw;
    width: 100%;
    height: 27vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}

.main-two-cards {
    background: var(--cardwhiteclr-color);
    height: 25.6vw;
    width: 22.5vw;
    overflow: hidden;
}

.videocard {
    width: 46.8vw;
    /* background-image: url(https://m.media-amazon.com/images/S/pv-target-images/ac63679c33fafc6d4c2219ba18b74a277fd552f2485b50e5554c5a90fff70d9b._AC_SL792_.jpg);  */
    /* background-image: url(https://m.media-amazon.com/images/S/pv-target-images/10d67472de72b34d41a29792766d409c0df8371a254906e73b7ef0a97941c472._AC_SL792_.jpg); */
    background-size: cover;
    background-color: var(--cardwhiteclr-color);
    background-color: transparent;
    box-shadow: 0.1px 0.1px 5px black;
    overflow: hidden;
    background: linear-gradient(180deg, #000, transparent 40%, transparent 85%, #000);
}

.videocard-txt {
    margin: 1vw 0.6vw;
    display: flex;
    align-items: center;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    height: 2vw;
    color: var(--cardwhiteclr-color);
    box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.437);
    padding-left: 1vw;

}

.video-bottomtxt {
    margin-top: 19.5vw;
    height: 2vw;
    width: 17vw;
    display: flex;
    align-items: center;
    /* box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.437); */
    padding-left: 1.5vw;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    font-weight: 600;
    color: black;
    margin-left: 0.5vw;
    /* background: #00A8E1; */

}

.video-bottomtxt a {
    color: white;
    letter-spacing: 0.02vw;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.videocard .video {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -24.5vw;
    z-index: -10;
}

.videocard img {
    position: relative;
    top: -30.5vw;
    z-index: 10;
    right: -41.5vw;
    border-radius: 50%;
    width: 3.35vw;
}


.main-two-cards .main-card-txt {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    padding-left: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 550;
}

.main-two-cards .main-card-4cards {
    height: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-in-main4cards {
    width: 48%;
    height: 48%;
    overflow: hidden;
    cursor: pointer;
}

.imageintheinnercard {
    width: 100%;
    height: 80%;
    object-fit: contain;
    overflow: hidden;
}

.txtintheinnercard {
    width: 100%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 0.85vw;
    font-weight: bold;
    color: #cc0c39;
}

.reddealtxt {
    background-color: #cc0c39;
    width: 30%;
    height: 75%;
    margin-left: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lghtwhiteclr-color);
    border-radius: 4px;
    display: inline-flex;
    margin-right: 0.3vw;
}

.seealldealsbtn {
    width: 100%;
    height: 9%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88vw;
    color: #007185;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.seealldealsbtn:hover {
    color: red;
}

/* container slider styling starts from here */

.main-three {
    width: 97%;
    height: 23vw;
    background: var(--cardwhiteclr-color);
    margin: auto;
    overflow: hidden;
    margin: 1.4vw auto;
}

.main-three-txt {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    padding-left: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 550;
}

.main-three-containers {
    height: 82%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    box-sizing: border-box;

}

.main-three-containers-container {
    height: 100%;
    width: 21%;
    margin: 1px;
    cursor: pointer;
}

.container-image {
    width: 100%;
    object-fit: contain;
    height: 70%;
}

.textintheinnercontainer {
    /* width: 18vw; */
    width: 15vw;
    height: 30%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 0.9vw;
    font-weight: bold;
    color: #cc0c39;
}

.reddealtxt-incontainer {
    background-color: #cc0c39;
    width: 38%;
    height: 40%;
    margin-left: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.78vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lghtwhiteclr-color);
    border-radius: 3px;
    display: inline-flex;
    margin-right: 0.3vw;
    font-weight: normal;
}

.seealldealsbtn-incontainer {
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    color: #007185;
    display: flex;
    align-items: center;
    margin-left: 1vw;
    font-weight: normal;
    cursor: pointer;

}

.seealldealsbtn-incontainer:hover {
    color: red;
    text-decoration: underline;
}

.notxt .container-image {
    height: 90%;
    width: 15vw;
    margin: 1vw;
}

.notxt .textintheinnercontainer {
    display: none;
}

.whitecolortxt {
    height: 30vw;
}

.whitecolortxt .container-image {
    height: 65%;
}

.whitecolortxt .textintheinnercontainer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 1vw 1.3vw;
    height: 15%;
    overflow: hidden;
    font-size: 0.92vw;
}

.priceinmainthree {
    width: 100%;
    height: 12%;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 1.5vw;
    font-weight: bold;
    font-size: 1.35vw;
    color: var(--txtlightblackclr-color);

}

.mrp {
    font-size: 0.8vw;
    margin-left: 0.8vw;
    color: rgba(0, 0, 0, 0.780);
    text-decoration: line-through;
}


.main-cmn-cards {
    width: 100%;
    height: 27vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-cmn-cardsncard {
    background: var(--cardwhiteclr-color);
    height: 25.6vw;
    width: 22.5vw;
    overflow: hidden;
}

.main-cmn-cardsncard .main-card-txt {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    padding-left: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 550;
}

.main-cmn-cards .main-card-4cards {
    height: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cmncardtxt {
    width: 100%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: black;
    color: var(--txtlightblackclr-color);
}

.maininmbl {
    display: none;
}


.adt-adv {
    height: 16vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-adt-adv {
    background: darkblue;
    height: 100%;
}


/* new styles */
.main-two-cards-errorfree {
    background: white;
    width: 22.5vw;
    height: 25.6vw;
}

.main-card-txt-errorfree {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    padding-left: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 550;
    box-sizing: border-box;
}

.main-card-4cards-errorfree {
    height: 78%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-card-4cards-anchor-errorfree {
    height: 49%;
    width: 49%;
    margin: 0.5%;
    text-decoration: none;
}

.main-card-4cards-anchor-errorfree .imageintheinnercard-errorfree {
    height: 85%;
    width: 100%;
    object-fit: contain;
}

.main-card-4cards-anchor-errorfree .txtintheinnercard-errorfree {
    color: black;
    font-size: 0.9vw;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0 0.8vw;
    width: 85%;
}

.seealldealsbtn-errorfree {
    width: 100%;
    height: 9%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88vw;
    color: #007185;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.seealldealsbtn-errorfree a {
    text-decoration: none;
    color: unset;
    width: 95%;
}

.seealldealsbtn-errorfree a:hover {
    color: red;
}

@media screen and (min-width:280px) and (max-width:500px) {
    main {
        width: 100vw;
        overflow: hidden;
        user-select: none;
    }

    .main-one-adv {
        height: 55vw;
        background-repeat: no-repeat;
        background-size: 175vw;
        border-radius: 0;
        display: none;
    }

    .main-cards-in-adv {
        visibility: hidden;
    }

    .main-one-adv .main-two-cards {
        display: none;
    }

    .main-cards-in-adv-twocards {
        visibility: hidden;
    }

    .main-one-upto650 {
        height: 48vw;
        width: 100vw;
        display: flex;
        white-space: nowrap;
        padding: 2px 2px;
        overflow-x: scroll;
        background-color: var(--lghtwhiteclr-color);
        animation: bgimg 40s steps(1) infinite;
        background-position: 0 100%;
        transition: all 0.5s ease;
    }

    .main-one-upto650-containers {
        width: 42vw;
        height: 98%;
        margin: 1px 1vw;
        background: white;
        border-radius: 4px;
        white-space: nowrap;
        box-shadow: -0.2px 0 5px rgba(0, 0, 0, 0.167);
    }

    .upto650-containers-txt {
        height: 6vw;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4.2vw;
        padding: 2vw 2vw;
        width: 40vw;
        font-weight: 550;
        overflow: hidden;
        user-select: none;
    }

    .main-one-upto650-containers img {
        width: 90%;
        display: flex;
        margin: auto;
        padding: 2vw;
    }

    .imagecenter {
        height: 75%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .main-two {
        flex-wrap: wrap;
        height: auto;
        padding: 1vw 0;
    }

    .main-two-cards:nth-child(1) {
        width: 96vw;
        height: 53vw;
        border-radius: 4px;
    }

    .main-two-cards {
        height: 100vw;
        width: 100vw;
        margin: 1vw 2vw;
    }

    .videocard {
        order: 1;
    }

    .videocard-txt {
        margin: 0.5vw;
        display: flex;
        align-items: center;
        font-size: 4vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 550;
        height: 6vw;
        color: white;
        box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.437);
        padding-left: 1vw;
        background: rgba(0, 0, 0, 0.084);
    }

    .video-bottomtxt {
        height: 6vw;
        width: 40vw;
        margin: 39vw 0 0 2vw;
        font-size: 2.2vw;
        visibility: hidden;

    }

    .videocard .video {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: -24.5vw;
        top: -52.5vw;
        z-index: -10;
    }

    .videocard img {
        position: relative;
        top: -61.5vw;
        z-index: 10;
        right: -86vw;
        border-radius: 50%;
        width: 7vw;
    }

    .card-in-main4cards {
        width: 48%;
        height: 48%;
        overflow: hidden;
        cursor: pointer;
    }

    .main-two-cards .main-card-txt {
        width: 100%;
        height: 13%;
        display: flex;
        align-items: center;
        padding-left: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: 550;
    }

    .txtintheinnercard {
        width: 100%;
        height: 20%;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        font-size: 3vw;
        font-weight: bold;
        color: #cc0c39;
        display: flex;
        align-items: center;
    }

    .reddealtxt {
        background-color: #cc0c39;
        width: 30%;
        height: 75%;
        margin-left: 0.8vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--lghtwhiteclr-color);
        border-radius: 4px;
        display: inline-flex;
        margin-right: 1.5vw;
    }

    .seealldealsbtn {
        width: 100%;
        height: 9%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5vw;
        color: #007185;
        padding-left: 2.5vw;
        display: flex;
        align-items: center;
    }

    /* container slider styling starts from here */

    .main-three {
        width: 97%;
        height: 70vw;
        background: var(--cardwhiteclr-color);
        margin: auto;
        overflow: hidden;
        margin: 1vw auto;
    }

    .main-three-txt {
        width: 100%;
        height: 13%;
        display: flex;
        align-items: center;
        padding-left: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: 550;
        user-select: none;
    }

    .main-three-containers {
        height: 87%;
        width: 100%;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        box-sizing: border-box;

    }

    .main-three-containers-container {
        height: 100%;
        width: 100vw;
        margin: 0 5vw;
        cursor: pointer;
        box-sizing: border-box;
    }

    .container-image {
        width: 100%;
        object-fit: contain;
        height: 75%;
    }

    .textintheinnercontainer {
        width: 31vw;
        height: 25%;
        display: grid;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        font-size: 3.4vw;
        font-weight: bold;
        color: #cc0c39;
        user-select: none;
        justify-content: center;
    }

    .reddealtxt-incontainer {
        background-color: #cc0c39;
        width: 100%;
        height: 80%;
        margin-left: 0.8vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--lghtwhiteclr-color);
        border-radius: 10px;
        display: inline-flex;
        margin-right: 0.3vw;
        font-weight: normal;

    }

    .seealldealsbtn-incontainer {
        width: auto;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3vw;
        color: #007185;
        display: flex;
        align-items: center;
        margin-left: 3vw;
        font-weight: normal;
        cursor: pointer;

    }

    .notxt .container-image {
        height: 90%;
        width: 48vw;
    }

    .whitecolortxt {
        height: 125vw;
    }

    .whitecolortxt .container-image {
        height: 66%;
    }

    .whitecolortxt .textintheinnercontainer {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Poppins', sans-serif;
        padding: 0;
        overflow: hidden;
        font-size: 2.8vw;
        height: 20%;
        width: 50vw;
    }

    .priceinmainthree {
        width: 90.3%;
        height: 12%;
        font-family: 'Noto Sans', sans-serif;
        padding: 0 1.5vw;
        font-weight: bold;
        font-size: 4.8vw;
        color: var(--txtlightblackclr-color);
        display: grid;
    }

    .mrp {
        font-size: 2.6vw;
        margin-left: 0.8vw;
        color: rgba(0, 0, 0, 0.780);
        text-decoration: line-through;
    }

    .main-cmn-cards {
        flex-wrap: wrap;
        height: auto;
        /* padding: 3vw 0; */
        padding: 0;
    }

    .main-cmn-cardsncard {
        height: 100vw;
        width: 100vw;
        margin: 1vw 2vw;
    }

    .main-cmn-cards .main-card-txt {
        width: 100%;
        height: 13%;
        display: flex;
        align-items: center;
        padding-left: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: 550;
    }

    .main-cmn-cards .main-card-4cards {
        height: 78%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .cmncardtxt {
        font-size: 3vw;
    }


    .maininmbl {
        height: 70vw;
        background: var(--lghtwhiteclr-color);
        background: #adc2dc;
        width: 100vw;
        display: flex;
        animation: bgimgmbl 42s steps(1) infinite;
        background-size: cover;
        display: flex;
        align-items: last baseline;
    }


    .adt-adv {
        display: none;
    }

    .main-card-4cards-anchor-errorfree .imageintheinnercard-errorfree {
        height: 80%;
        width: 100%;
        object-fit: contain;
    }
    .main-card-4cards-anchor-errorfree .txtintheinnercard-errorfree {
        color: black;
        font-size: 3.2vw;
        font-weight: normal;
        font-family: sans-serif;
        margin: 0 3.8vw;
        width: 85%;
    }
    .main-card-4cards-anchor-errorfree .imageintheinnercard-errorfree {
        height: 80%;
        width: 100%;
        object-fit: contain;
    }
    .seealldealsbtn-errorfree{
        font-size: 3.5vw;
    }
}

@media screen and (min-width:1850px) {
    main {
        width: 108rem;
        overflow: hidden;
    }

    .main-one-adv {
        height: 18vw;
        background-size: cover;
        /* background-position: center; */
    }

    .main-cards-in-adv {
        visibility: hidden;
    }

    .main-cards-in-adv-twocards {
        visibility: hidden;
    }



    /* new */

    .main-two {
        margin-top: 1vw;
        width: 100%;
        height: 28vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        user-select: none;
    }

    .main-two-cards {
        background: var(--cardwhiteclr-color);
        height: 28vw;
        width: 49%;
        overflow: hidden;
        /* background: red; */

    }

    .main-one-adv .main-two-cards {
        display: none;
    }

    .videocard {
        width: 46.8vw;
        /* background-image: url(https://m.media-amazon.com/images/S/pv-target-images/ac63679c33fafc6d4c2219ba18b74a277fd552f2485b50e5554c5a90fff70d9b._AC_SL792_.jpg);  */
        /* background-image: url(https://m.media-amazon.com/images/S/pv-target-images/10d67472de72b34d41a29792766d409c0df8371a254906e73b7ef0a97941c472._AC_SL792_.jpg); */
        background-size: cover;
        background-color: var(--cardwhiteclr-color);
        background-color: transparent;
        box-shadow: 0.1px 0.1px 5px black;
        overflow: hidden;
        display: none;
    }

    .videocard-txt {
        margin: 0.5vw;
        display: flex;
        align-items: center;
        font-size: 1.4vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 550;
        height: 2vw;
        color: black;
        box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.437);
        padding-left: 1vw;

    }

    .video-bottomtxt {
        margin-top: 19.5vw;
        height: 2vw;
        width: 17vw;
        display: flex;
        align-items: center;
        box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.437);
        padding-left: 1.5vw;
        font-size: 0.9vw;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 1vw;
        font-weight: 600;
        color: black;
        margin-left: 0.5vw;
        background: #00A8E1;
    }

    .video-bottomtxt a {
        color: white;
        letter-spacing: 0.02vw;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .videocard .video {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: -24.5vw;
        z-index: -10;
    }

    .videocard img {
        position: relative;
        top: -30.5vw;
        z-index: 10;
        right: -41.5vw;
        border-radius: 50%;
        width: 3.35vw;
    }


    .main-two-cards .main-card-txt {
        width: 100%;
        height: 13%;
        display: flex;
        align-items: center;
        padding-left: 1.3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3vw;
        font-weight: 550;
    }

    .main-two-cards .main-card-4cards {
        height: 78%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-in-main4cards {
        width: 48%;
        height: 48%;
        overflow: hidden;
        cursor: pointer;
    }

    .imageintheinnercard {
        width: 50%;
        height: 80%;
        object-fit: contain;
        overflow: hidden;
        margin-left: 25%;
    }

    .txtintheinnercard {
        width: 100%;
        height: 20%;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        font-size: 0.8vw;
        font-weight: bold;
        color: #cc0c39;
    }

    .reddealtxt {
        background-color: #cc0c39;
        width: 30%;
        height: 75%;
        margin-left: 0.8vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--lghtwhiteclr-color);
        border-radius: 4px;
        display: inline-flex;
        margin-right: 0.3vw;
    }

    .seealldealsbtn {
        width: 100%;
        height: 9%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.88vw;
        color: #007185;
        padding-left: 1vw;
        display: flex;
        align-items: center;
    }

    .seealldealsbtn:hover {
        color: red;
    }

    /* container slider styling starts from here */

    .main-three {
        width: 98.7%;
        height: 25vw;
        background: var(--cardwhiteclr-color);
        margin: auto;
        overflow: hidden;
    }

    .main-three-txt {
        width: 100%;
        height: 18%;
        display: flex;
        align-items: center;
        padding-left: 1.3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3vw;
        font-weight: 550;
    }

    .main-three-containers {
        height: 82%;
        width: 94%;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        box-sizing: border-box;
        margin-left: 3%;

    }

    .main-three-containers-container {
        height: 100%;
        width: 21%;
        margin: 1px 0.33vw;
        cursor: pointer;
    }

    .container-image {
        width: 100%;
        object-fit: contain;
        height: 70%;
        width: 75%;
        margin-left: 15%;
    }

    .textintheinnercontainer {
        width: 18vw;
        height: 25%;
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        font-size: 0.9vw;
        font-weight: bold;
        color: #cc0c39;
        display: grid;
        /* background: red; */
        padding-left: 1vw;
    }

    .reddealtxt-incontainer {
        background-color: #cc0c39;
        width: 30%;
        height: 65%;
        margin-left: 0.8vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.78vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--lghtwhiteclr-color);
        border-radius: 3px;
        display: inline-flex;
        margin-right: 0.3vw;
        font-weight: normal;
    }

    .seealldealsbtn-incontainer {
        width: auto;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9vw;
        color: #007185;
        display: flex;
        align-items: center;
        margin-left: 1vw;
        font-weight: normal;
        cursor: pointer;

    }
    .main-one-adv .main-two-cards-errorfree{
        background: red;
        display: none;
    }
    .seealldealsbtn-incontainer:hover {
        color: red;
        text-decoration: underline;
    }

    .whitecolortxt .main-three-containers .main-three-containers-container {
        margin: auto 1vw auto auto;
        width: 15vw;

    }

    .whitecolortxt .container-image {
        height: 66%;
    }

    .whitecolortxt .textintheinnercontainer {
        color: black;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        /* font-family: 'Ubuntu', sans-serif; */
        /* font-family: 'Raleway', sans-serif; */
        padding: 0.5vw 0.5vw;
        width: 14.2vw;
        overflow: hidden;
    }
}

@keyframes bgimg {
    0% {
        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/OnePlus/Flagship/115G/Nov14/D66357764_WLD_OnePlus_Salami_NewLaunch_DesktopTallHero_3000x1200._CB572590834_.jpg); */

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/SamsungM/M34-5G/16thNov/D85723568_INWLD-WLD-Samsung-M34-NewLaunch_tallhero_1500x600._CB572949606_.jpg);

        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img2020/fashion/WA_2020/weddinghero22/New/Men_-_wedding_store_-_Kurtasets_juttis_3000x1200._CB573501837_.jpg); */

        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/saba/nov/GW/26th_unrec_hero__3000X1200._CB573381786_.jpg); */


        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/SamsungM/M13/1stDec/D50328974_IN_WLME_SamsungGalaxy_M13_series_Tall_Hero_1500x600._CB572209152_.jpg); */

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/OnePlus/CommunitySale/2023/DEC12/11R/D106945245-_WLD_OnePlus_CommunitySale_Dec23_DesktopTallHero_3000x1200._CB571104905_.jpg);


    }

    20% {
        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Madhav/November/Apple/Airtel/D103479793_WLD-BAU-iPhone_15_Series_DesktopTallHero_3000x1200._CB572594490_.jpg);

        background-image: url(https://m.media-amazon.com/images/I/81oEA+yqnRL._SX3000_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/OHL/23/Central/BAU/NOv/Desktop_Hero_3000x1200_2_2x._CB574373355_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img17/Home/AmazonTV/Ishqiyapa/Hero_PC/3000x1200_Ishqyapa_V3._CB572210125_.jpg);

        background-image: url(https://m.media-amazon.com/images/I/81MCcdjpC7L._SX3000_.jpg);

    }

    40% {
        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/prime/ACQ/Hero_3000x12001._CB592142345_.jpg); */

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Madhav/November/Apple/Airtel/D103479793_WLD-BAU-iPhone_15_Series_DesktopTallHero_3000x1200._CB572594490_.jpg);

        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/GW/MFD/Nov/AF-Rec-PC-3000._CB572789401_.jpg); */

        background-image: url(https://m.media-amazon.com/images/I/71G0IFlgU-L._SX3000_.jpg);

        background-image: url(https://m.media-amazon.com/images/I/71sjzG6l1OL._SX3000_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/Ayushi/OP_Hero_3000x1200._CB571193467_.jpg);
    }

    60% {
        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/Symbol/2023/GWHeros/Nov/PC_3000_1_1._CB574451900_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/Nov/BAU/Gateway/ATF/PC_Category_DESKTOP_Hero_3000x1200._CB573222572_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Beauty/GW/TBS/Makeup-PCcv._CB571629678_.jpg );

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/OnePlus/Nord/NordCE3_Ziti/GW/Nov/30/D90458496_WLD_OnePlus_Ziti_NewLaunch_Tall_hero_1500x600_2._CB572130264_.jpg);
    }

    80% {
        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/amazonservices/landing/desk._CB572880902_.jpg); */

        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/Symbol/2023/GWHeros/Nov/PC_3000_1_1._CB574451900_.jpg); */

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/Nov/Shoes/MFD/MEN_Boots/Frame_172_3000pc._CB573014305_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img12/home-improvement/Store/JUPITER23/misc1/5299---HI---Home-improvement-lifestyle-hero_3000X1200.rfg._CB573378665_.jpg);

    }

    90% {
        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img2020/img21/apparelGW/nov23atf/mfd/rec/EYE_PC3000._CB572909746_.jpg);

        /* background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/Nov/Shoes/MFD/MEN_Boots/Frame_172_3000pc._CB573014305_.jpg); */

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/UNREC/11th-14th/Shoes/WithoutFDFO/Sports_3000_AU._CB571495199_.jpg);

        background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img21/VGSW/2023/Q4/Homepage_DesktopHeroTemplate_1500x600-Ps5-hero-vg-dec-2023_._CB572140528_.jpg);
    }

}

@keyframes bgimgmbl {
    0% {
        background-image: url(https://m.media-amazon.com/images/I/61gb0by1JJL._SR1236,1080_.jpg);



        background-image: url(https://m.media-amazon.com/images/I/714YfRzb0NL._SR1236,1080_.jpg);
    }

    20% {
        background-image: url(https://m.media-amazon.com/images/I/614cl0KzAML._SR1236,1080_.jpg);

        background-image: url(https://m.media-amazon.com/images/I/61dJfEWog5L._SR1236,1080_.jpg);
    }

    40% {
        background-image: url(https://m.media-amazon.com/images/I/71bMQBcHlXL._SR1236,1080_.jpg);

        background-image: url(https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/4c5a5c67-040b-46ed-9ae8-bfd573e5c91f.jpg);
    }

    60% {
        background-image: url(https://m.media-amazon.com/images/I/617+J4-+v8L._SR1236,1080_.jpg);

        background-image: url(https://m.media-amazon.com/images/I/81mVGfSL9IL._SR1236,1080_.png);
    }

    80% {
        background-image: url(https://m.media-amazon.com/images/I/616+dA0LtZL._SR1236,1080_.jpg);

        background-image: url(https://m.media-amazon.com/images/I/61600SutPXL._SR1236,1080_.jpg);

    }

    100% {
        background-image: url(https://m.media-amazon.com/images/I/61tq5nR8JFL._SR1236,1080_.jpg);

        background-image: url(https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/4db15f46-50d2-4a92-a551-32e769daff20.jpg);
    }

}



